frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.*.local
backend/node_modules
backend/dist
backend/.env
backend/.env.local
backend/.env.*.local
backend/backend-dev*.log
.env
.env.local
node_modules
.vercel
.env*.local
